*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width:100%;
}
.header{
    width:1110px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    padding:24px,0;
}
.header ul{
    list-style: none;
    display:flex;
    align-items: center;
    gap:40px;
}

.block2 {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 48px;
  }
  .block2-left {
    margin: auto 0;
    width: 445px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }
  
.block2-left h1{
    font-size: 60px;
    letter-spacing: -2px;
    color:#4c5866;
}

.block2-left p{
    font-size: 18px;
    color:#85859b;
}
.block2-left button{
    border:1px solid #7875fe;
    background-color: white;
    color:#7875fe;
    font-size: 20px;
    padding: 14px 60px;
    cursor: pointer;
}

.cards{
    
        width: 1110px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 48px;
      }

.block3 {
        width: 1110px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 48px;
      }
.block3-right {
        margin: auto 0;
        width: 445px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;
      }
      
.block3-right h1{
        font-size: 60px;
        letter-spacing: -2px;
        color:#4c5866;
    }
    
.block3-right p{
        font-size: 18px;
        color:#85859b;
    }

.product{
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 48px;
}
.tirag{
    color: #B5B5BD;
}
.podrobnee{
    color:#7875FE;
    display: inline;
}

.icons {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 48px;
    margin-top: 20px;
   
  }

  .block4 {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 48px;
  }
  .block4-left {
    margin: auto 0;
    width: 445px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }
  
.block4-left h1{
    font-size: 60px;
    letter-spacing: -2px;
    color:#4c5866;
}

.block4-left p{
    font-size: 18px;
    color:#85859b;
}
.block4-left button{
    border:1px solid #7875fe;
    background-color: white;
    color:#7875fe;
    font-size: 20px;
    padding: 14px 60px;
    cursor: pointer;
}


.oneback{
    width:100%;
    height: 807px;
    background-color: #B5B5BD;
}

.twoback{
    width:100%;
    height: 107px;
    background-color: #B5B5BD;
}

.threeback{
    width:100%;
    height: 28px;
    background-color:#4C5866;
}
.footer{

    width:1110px;
    height: 28px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    padding:24px,0;
}


.footer ul{
    list-style: none;
    display:flex;
    align-items: center;
    gap:40px;
}

